/* Style <body> */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: palevioletred;
  padding-left: 20%;
  padding-right: 20%;
  font-size: larger;
}

/* Style .body class */
.body {
  border: 5px solid black;
}

/* Style .header class */
.header {
  border: 5px solid black;
  padding: 25px;
  text-align: center;
}

/* Style <a> in <nav> */
nav a {
  color: black;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

/* Add hover effects on links */
a:hover {
  background-color: white;
  transition: 0.25s;
}

/* Add padding on <divs> */
div {
  padding: 5%;
}

/* Make images responsive */
img {
  max-width: 100%;
  height: auto;
}
